@import url('http://fonts.cdnfonts.com/css/nimbus-sans-l');
@import url('http://fonts.cdnfonts.com/css/aileron');

/* font-family: 'Nimbus Sans L', sans-serif;    
font-family: 'Aileron', sans-serif; */

body {
    box-sizing: border-box;

}

* {
	margin: 0;
	padding: 0;
}